
<%- include('layouts/header') -%>

<!-- Navigation -->
<%- include('layouts/navbar') -%>

    <%{{content}}%>

  <!-- Footer -->
<%- include('layouts/footer') -%>


<%- include('layouts/scripts') -%>


 
