
<%- include('layouts/header') -%>


<!-- Navigation -->
<%- include('layouts/navbar') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Login</h1>
          
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
        <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
        <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
        <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
        <form action="/users/login" 
             novalidate 
             method="POST"
        >
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>User Name</label>
              <input name="username" type="text" class="form-control" placeholder="User name" id="name" required >
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Password</label>
              <input name="password" type="password" class="form-control"  id="password" required >
              <p class="help-block text-danger"></p>
            </div>
          </div>
         
          <br>
          <div id="success"></div>
          <button type="submit" class="btn btn-primary" >Register</button>
        </form>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->

  <!-- Footer -->
  <%- include('layouts/footer') -%>


  <%- include('layouts/scripts') -%>


 
