
<%- include('layouts/header') -%>


<!-- Navigation -->
<%- include('layouts/navbar') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Not Found</h1>
          </div>
        </div>
      </div>
    </div>
  </header>



  <hr>

  <!-- Footer -->

  <!-- Footer -->
  <%- include('layouts/footer') -%>


  <%- include('layouts/scripts') -%>


 
