
<%- include('layouts/header') -%>


<!-- Navigation -->
<%- include('layouts/navbar') -%>


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('<%= blogpost.image %>')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= blogpost.title  %>  </h1>
            <span class="meta">Posted by
              <a href="#"><%= blogpost.userid.username %> </a>
              on <%= blogpost.datePosted %> </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <%= blogpost.body %>
        </div>
      </div>
    </div>
  </article>

  <hr>
  <%- include('layouts/footer') -%>
  <%- include('layouts/scripts') -%>

