
<%- include('layouts/header') -%>


<!-- Navigation -->
<%- include('layouts/navbar') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Register a new account</h1>
          
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% if(errors !=null && errors.length > 0 ){ %>
        <ul class="list-group">
            <% for(var i=0;i<errors.length;i++){ %>
                <li class="list-group-item list-group-item-danger"><%= errors[i]  %> </li>
            <% } %>  
        </ul>
        <% }  %> 
        <form action="/users/register" 
             novalidate 
             method="POST"
        >
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>User Name</label>
              <input name="username" value="<%= username %>" type="text" class="form-control" placeholder="User name" id="name" required >
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Password</label>
              <input name="password" value="<%= password %>" type="password" class="form-control"  id="password" required >
              <p class="help-block text-danger"></p>
            </div>
          </div>
         
          <br>
          <div id="success"></div>
          <button type="submit" class="btn btn-primary" >Register</button>
        </form>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->

  <!-- Footer -->
  <%- include('layouts/footer') -%>


  <%- include('layouts/scripts') -%>


 
